#main-cnt {
	#bookForm {
	    width: 600px;
	    padding: 20px;
	    background: #fff;
	    border: 1px  dashed #ddd;
	    margin: 50px auto;
	}
	.book-table {
		a {
			color: #337ab7;
			cursor: pointer;
		}
	}
}
