@charset "UTF-8";
/**************************index page *******************************/
body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体"; }

ul, li {
  padding: 0px;
  margin: 0px;
  list-style: none; }

a {
  color: #14191c; }

a:hover {
  /*text-decoration: none;*/
  color: #14191c; }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  border: 0px; }

.lib-navbar {
  padding-left: 100px;
  padding-right: 100px; }

.lib-navbar .logo {
  width: 270px;
  text-indent: -9999px;
  display: block;
  background: url(../images/logo.png) no-repeat left center;
  background-size: 270px 50px; }

.navbar-left {
  padding-left: 80px;
  /*padding-right: 80px;*/ }

.navbar-left input[type=text] {
  width: 300px;
  background: url(../images/search.png) no-repeat 7px center #fff;
  background-size: 20px 20px;
  padding-left: 35px; }

.navbar-left button[type=submit] {
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  /*border-radius: 0px;*/ }

.navbar-right li a {
  padding-left: 5px;
  padding-right: 5px; }

.navbar-right li span {
  color: #fff;
  /*vertical-align: middle;*/
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 25px; }

.modal-content {
  border-radius: 0px; }

.modal h5 {
  font-size: 15px;
  text-align: center; }

.modal .modal-header {
  background-color: #F5F5F5; }

.modal .form-group {
  padding: 0px 15px; }

#loginModal .login-error {
  background-color: #FCDEDE;
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #911;
  margin-bottom: 10px; }

#loginModal label a {
  color: #4183c4; }

#registModal .regist-error {
  background-color: #FCDEDE;
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #911;
  margin-bottom: 10px; }

#alertModal .modal-content {
  height: 70px;
  padding-top: 5px;
  font-size: 18px;
  border-radius: 8px; }

#alertModal #alertMsg {
  text-align: center; }

#modifyModal .modify-btn {
  text-align: center; }

#modifyModal .modify-error {
  background-color: #FCDEDE;
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #911;
  margin-bottom: 10px; }

.regist-modal .regist-btn {
  text-align: center; }

.modal .error {
  border-radius: 5px;
  color: #911; }

#lib-carousel {
  margin: 0px auto; }

#lib-carousel img {
  width: 100%; }

.lib-intr {
  width: 1000px;
  margin: 0 auto; }

.lib-intr ul {
  padding: 100px 0;
  overflow: hidden; }

.lib-intr ul li {
  width: 25%;
  float: left;
  /*display: block;*/
  text-align: center; }
