<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>
	<div th:substituteby="main::nav-and-modals"></div>
	<section id="manage-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2" id="manageSidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/add-book/" class="index">Add book</a></li>
						<li><a href="/manage-book/" class="current active">Manage book</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main-cnt">
					<section class="book-table">
						<table class="table table-striped table-bordered">
						  	<thead>
						  		<tr>
						  			<th>Book Barcode</th>
						  			<th>Book Id</th>
						  			<th>Book Name</th>
						  			<th>Author</th>
						  			<th>Operation</th>
						  		</tr>
						  	</thead>
						  	<tbody id="manageBook">
						  	
						  	</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>
	</section>
	<div th:substituteby="main::footer-and-scripts"></div>
</body>
</html>
