<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>
	<div th:substituteby="main::nav-and-modals"></div>
	<section id="manage-content">
		<div class="container-fluid"> 
			<div class="row">
				<div class="col-sm-3 col-md-2" id="manageSidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/add-book/" class="index active">Add book</a></li>
						<li><a href="/manage-book/" class="current">Manage book</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main-cnt">
					<div class="upload-content">
						<form id="bookForm">
						  <div class="form-group">
						    <label for="fbookName">Book Name</label>
						    <input type="text" class="form-control" id="fbookName" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fauthor">Author</label>
						    <input type="text" class="form-control" id="fauthor" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fpublisher">Publisher</label>
						    <input type="text" class="form-control" id="fpublisher" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fpublishTime">Publish Time</label>
						    <input type="date" class="form-control" id="fpublishTime" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fISBN">ISBN</label>
						    <input type="text" class="form-control" id="fISBN" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="ftranslator">Translator</label>
						    <input type="text" class="form-control" id="ftranslator" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fphotoUrl">Photo Url</label>
						    <input type="text" class="form-control" id="fphotoUrl" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fclassify">Classify</label>
						    <input type="text" class="form-control" id="fclassify" required="required"/>
						  </div>
						  <div class="form-group">
						    <label for="fauthorIntroduction">Author Introduction</label>
						    <textarea id="fauthorIntroduction" class="form-control" rows="6" required="required"></textarea>
						  </div>
						  <div class="form-group">
						    <label for="fbookIntroduction">Book Introduction</label>
						    <textarea id="fbookIntroduction" class="form-control" rows="10" required="required"></textarea>
						  </div>
						  <div class="btn-center">
						  	<button id="book-upload-button" type="button" class="btn btn-primary">Submit</button>
						  </div>
						  <div class="btn-center" style="margin-top: 20px;">
							<img id="barcode"/>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:substituteby="main::footer-and-scripts"></div>
	<script type="text/javascript" src="/static/dist/js/JsBarcode.all.min.js"></script>
	// <script type="text/javascript">
	// 	$("#barcode").JsBarcode("556889e5e4b02de9c3e735ce",{format:"CODE128",displayValue:true,fontSize:20});
	// </script>
</body>
</html>
