<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<div th:substituteby="main::head"></div>

<body>

<div th:substituteby="main::nav-and-modals"></div>

<section id="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 cate-sidebar">
            <ul id="categoryList">
              <li><a>Categories</a></li>
              <li><a href="" data-class="1">Literature</a></li>
              <li><a href="" data-class="2">Popular</a></li>
              <li><a href="" data-class="3">Culture</a></li>
              <li><a href="" data-class="4">Life</a></li>
              <li><a href="" data-class="5">Economic</a></li>
              <li><a href="" data-class="6">Technology</a></li>
              <li><a href="" data-class="7">Education</a></li>
            </ul>
          </div>
          <div class="col-md-offset-3 col-sm-9 book-content"></div>
        </div>
      </div> 
</section>

<div th:substituteby="main::footer-and-scripts"></div>
</body>
</html>


