<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<div th:substituteby="main::head"></div>

<body>

<div th:substituteby="main::nav-and-modals"></div>

<section id="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 cate-sidebar">
            <ul>
              <li><a href="">图书分类</a></li>
              <li><a href="">文学</a></li>
              <li><a href="">流行</a></li>
              <li><a href="">文化</a></li>
              <li><a href="">生活</a></li>
              <li><a href="">经管</a></li>
              <li><a href="">科技</a></li>
              <li><a href="">教育</a></li>
            </ul>
          </div>
          <div class="col-md-offset-3 col-sm-9 book-list">
            <ul class="book-dis">
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/static/images/bk2.jpg" alt=""/>
                  <p>岛上书店</p>
                </a>
              </li>
            </ul>
            <nav class="lib-pg">
              <ul class="pagination">
                <!-- <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </li> -->
                <li class="active">
                  <span>1 <span class="sr-only">(current)</span></span>
                </li>
                <li><span>2</span></li>
                <li><span>3</span></li>
                <li><span>4</span></li>
                <!-- <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li> -->
              </ul>
            </nav>
          </div>
        </div>
      </div> 
</section>

<div th:substituteby="main::footer-and-scripts"></div>
<script type="text/javascript" src="/static/js/booklist.js"></script>
</body>
</html>


