<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<div th:substituteby="main::head"></div>

<body>

<div th:substituteby="main::nav-and-modals"></div>

<section id="main-content">
    <div class="forget-form">
        <h3>Forgot password</h3>
        <form class="form-horizontal" id="forgetForm">
            <div class="forget-inf"></div>
            <div class="form-group">
                <label for="email-input">Email</label>
                <input type="email" class="form-control" name="email-input" id="email-input" placeholder="Enter email" />
            </div>
            <div class="forget-btn">
                <button type="button" class="btn btn-default" id="forgetBtn">Submit</button>
            </div>
        </form>
    </div>
</section>

<div th:substituteby="main::footer-and-scripts"></div>

</body>
</html>


