<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>
	<div th:substituteby="main::nav-and-modals"></div>
	<section id="manage-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2" id="manageSidebar">
					<ul class="nav nav-sidebar">
						<li><a href="#" class="index active">Borrow book</a></li>
						<li><a href="/return-book/" class="current">Return book</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main-cnt">
					<form id="borrowForm">
						<div class="form-group">
							<label for="borrowUsername">Username</label>
							<input type="text" class="form-control" id="borrowUsername" required="required"/>
						</div>
						<div class="form-group">
							<label for="isbn">Book ID</label>
							<input type="text" class="form-control" id="isbn" required="required"/>
						</div>
						<div class="btn-center">
							<button id="borrowBtn" type="button" class="btn btn-primary">Borrow book</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<div th:substituteby="main::footer-and-scripts"></div>
	<!--<script th:if="${isAdmin}" type="text/javascript">-->
		<!--document.getElementById("add-book-button").style.visibility="visible";-->
	<!--</script>-->
</body>
</html>
