<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>
    <div th:substituteby="main::nav-and-modals"></div>
<!-- <section id="main-content">
    <div >
    	<h2 th:inline="text">username:[[${#httpServletRequest.remoteUser}]]</h2>
        <button class="btn btn-default" data-toggle="modal" data-target="#modifyModal">Modify Password</button>
        <button class='btn btn-default' onclick="window.location.href='/upload-book/';" style='margin-left: 20px; visibility: hidden;' id="add-book-button">Add Book</button>
    </div> 
</section> -->
<section id="manage-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2" id="manageSidebar">
				<ul class="nav nav-sidebar">
					<li><a th:href="@{'/user?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="index active">My index</a></li>
					<li><a th:href="@{'/current-records?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="current">Current borrow</a></li>
					<li><a  th:href="@{'/history-records?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="history">Borrow records</a></li>
					<li><a th:href="@{'/user-fine?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="fine">Book fine</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main-cnt">
				<div class="person-inf">
					<h3>Personal information</h3>
					<section>
						<table  class="table table-bordered">
							<tr>
								<td rowspan="3" style="text-align: center;"><img src="/static/dist/images/head.png" alt=""/></td>
								<td>Name: <span>baymax</span></td>
								<td>Student id: <span>2012303497</span></td>
								<td>Email: <span>940578704@qq.com</span></td>
							</tr>
							<tr>
								<td>Reader category: <span>undergraduate</span></td>
								<td>Academy: <span>software and microelectronics</span></td>
								<td>Major: <span>software engineer</span></td>
							</tr>
							<tr>
								<td>
									<button class="btn btn-default" data-toggle="modal" data-target="#modifyModal">modify password</button>
								</td>
								<td>
									<!--<button class="btn btn-default" >modify information</button>-->
								</td>	
								<td></td>
							</tr>
						</table>
					</section>
				</div>
				<div class="read-intr">
					<h3>Borrow description</h3>
					<section>
						<ul>
							<li><a href="" class="can-borrow">Can Borrow:10</a></li>
							<li><a href="" class="borrowed">Borrrowed: <span></span></a></li>
							<li><a href="" class="overdue">Overdue: <span></span></a></li>
							<li><a href="" class="accumlated">Accumlated: <span></span></a></li>
						</ul>
					</section>
				</div>
				<div class="read-cate">
					<h3>Borrow category</h3>
					<section>
						<div id="pie-chart">	</div>
					</section>
				</div>
				<div class="read-tendency">
					<h3>Borrow tendency</h3>
					<section>
						<div id="line-chart"></div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
<div th:substituteby="main::footer-and-scripts"></div>
<script type="text/javascript" src="/static/dist/js/echarts.js"></script>
<script type="text/javascript">
    // var bookCategory = {};
    // var para = {};
    // $(function(){
      
    // });
    // console.log(bookCategory);
   // 路径配置
    require.config({
     paths: {
         echarts: '/static/dist/js'
     }
    });
    // use pie
    require(
        [
        'echarts',
        'echarts/chart/pie'
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var categoryChart = ec.init(document.getElementById('pie-chart')); 
            var bookCategory = {};
            var para = {};
            para['username'] = getUrlParam('username');
            console.log(para);
            $.post('/api/user/', para, function(data) {
               // console.log(data);
               bookCategory['literature'] = data['numByClassify'][1];
               bookCategory['popular'] = data['numByClassify'][2];
               bookCategory['culture'] = data['numByClassify'][3];
               bookCategory['life'] = data['numByClassify'][4];
               bookCategory['economic'] = data['numByClassify'][5];
               bookCategory['technology'] = data['numByClassify'][6];
               bookCategory['education'] = data['numByClassify'][7];
               option = {
                title : {
                    text: 'Book Category Distribution',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['Literature','Popular','Culture','Technology','Education','Life','Economic']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true, 
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                {
                    name:'book category',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                    {value: bookCategory['literature'] , name:'Literature'},
                    {value: bookCategory['popular'], name:'Popular'},
                    {value: bookCategory['culture'] , name:'Culture'},
                    {value: bookCategory['technology'], name:'Technology'},
                    {value: bookCategory['education'], name:'Education'},
                    {value: bookCategory['life'], name:'Life'},
                    {value: bookCategory['economic'], name:'Economic'}
                    ]
                }
                ]
            };
            // 为echarts对象加载数据 
            categoryChart.setOption(option); 
            });
            // console.log(bookCategory);
        }
        );
    // use line
    require(
        [
        'echarts',
        'echarts/chart/line'
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var tendencyChart = ec.init(document.getElementById('line-chart')); 
            option = {
                title : {
                    text: 'borrow tendency'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['tendency']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['Jan','Feb','Mar','Apr','May','Jun']
                }
                ],
                yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} '
                    }
                }
                ],
                series : [
                {
                    name:'borrow tendency',
                    type:'line',
                    data:[1, 2, 15, 10, 12, 13],
                    markPoint : {
                        data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                        ]
                    }
                }
                ]
            };
            // 为echarts对象加载数据 
            tendencyChart.setOption(option); 
        }
        );
</script>
</body>
</html>
