<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>

<div th:substituteby="main::nav-and-modals"></div>

<section id="main-content">
    <!--<div style="text-align: center; padding-top: 30px; margin: 70px 0 500px 0;">-->
    <div >
    	<h2 th:inline="text">username:[[${#httpServletRequest.remoteUser}]]</h2>
    	<!--<p>证件开始日期：2012-09-19</p>-->
	<!--<p>证件结束日期：2016-06-30</p>-->
        <button class="btn btn-default" data-toggle="modal" data-target="#modifyModal" id="modify-password-button">Modify Password</button>
        <button class='btn btn-default' onclick='window.location.href="/upload-book/";' style='margin-left: 20px; visibility: hidden;' id="add-book-button">Add Book</button>
    </div> 

</section>

<div th:substituteby="main::footer-and-scripts"></div>
<script th:if="${isAdmin}" type="text/javascript">
    document.getElementById("add-book-button").style.visibility="visible";
</script>

</body>
</html>
