<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>
  <div th:substituteby="main::nav-and-modals"></div>
<!-- <section id="main-content">
    <div >
        <h2 th:inline="text">username:[[${#httpServletRequest.remoteUser}]]</h2>
        <button class="btn btn-default" data-toggle="modal" data-target="#modifyModal">Modify Password</button>
        <button class='btn btn-default' onclick="window.location.href='/upload-book/';" style='margin-left: 20px; visibility: hidden;' id="add-book-button">Add Book</button>
    </div> 
  </section> -->
  <section id="manage-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2" id="manageSidebar">
          <ul class="nav nav-sidebar">
           <li><a th:href="@{'/user?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="index">My index</a></li>
          <li><a th:href="@{'/current-records?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="current">Current borrow</a></li>
          <li><a  th:href="@{'/history-records?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="history active">Borrow records</a></li>
          <li><a th:href="@{'/user-fine?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="fine">Book fine</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main-cnt">
          <div class="person-inf">
            <h3>History Records</h3>
            <section>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Book Id</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Borrow Date</th>
                    <th>Return Date</th>
                  </tr>
                </thead>
                <tbody id="historyRecords">
                </tbody>
            </table>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div th:substituteby="main::footer-and-scripts"></div>
</body>
</html>
