<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:substituteby="main::head"></div>

<body>
    <div th:substituteby="main::nav-and-modals"></div>
<!-- <section id="main-content">
    <div >
    	<h2 th:inline="text">username:[[${#httpServletRequest.remoteUser}]]</h2>
        <button class="btn btn-default" data-toggle="modal" data-target="#modifyModal">Modify Password</button>
        <button class='btn btn-default' onclick="window.location.href='/upload-book/';" style='margin-left: 20px; visibility: hidden;' id="add-book-button">Add Book</button>
    </div> 
</section> -->
<section id="manage-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2" id="manageSidebar">
				<ul class="nav nav-sidebar">
					<li><a th:href="@{'/user?username='+${#httpServletRequest.remoteUser}}" th:inline="text" class="index">My index</a></li>
					<li><a href="/current-records/" class="current">Current borrow</a></li>
					<li><a href="/history-records/" class="history">Borrow records</a></li>
					<li><a href="/user-fine/" class="fine active">Book fine</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main-cnt">
				<div class="person-inf">
					<h3>Fine</h3>
					<section>
						<table class="table table-striped table-bordered">
						  	<thead>
						  		<tr>
						  			<th>Book Id</th>
						  			<th>Book Name</th>
						  			<th>Author</th>
						  			<th>Borrow Date</th>
						  			<th>Return Date</th>
						  			<th>Fine</th>
						  			<th>Status</th>
						  		</tr>
						  	</thead>
						  	<tbody>
						  		<tr>
						  			<td>1</td>
						  			<td>1</td>
						  			<td>1</td>
						  			<td>1</td>
						  			<td>1</td>
						  			<td>1</td>
						  			<td>1</td>
						  		</tr>
						  	</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <script src="http://echarts.baidu.com/build/dist/echarts.js"></script> -->
<script type="text/javascript" src="/static/dist/js/echarts.js"></script>
<div th:substituteby="main::footer-and-scripts"></div>
<script th:if="${isAdmin}" type="text/javascript">
    document.getElementById("add-book-button").style.visibility="visible";
</script>
</body>
</html>
